


@font-face {
  font-family: 'Segoe UI Variable';
  src: url('../font/SegoeUIVF.ttf') format('truetype');
  font-weight: 100 900; /* Tùy chỉnh phạm vi weight */
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


footer{
  font-family: Segoe UI Variable;
}

body{
  background-color: rgb(239 237 243) ;
  font-family: Montserrat;
  color: #000;
}
.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}
.container-md{
  max-width: 1040px;
}
.container-lg{
  max-width: 1200px;
}
a {
  color: #000;
  text-decoration: none;
}
img{
  max-width: 100%;
}


.navbar-collapse{
    justify-content: right;
    margin-right: 40px;
  
  }


  .navbar-nav{
    gap: 20px;
  }
  .nav-link:hover{
    color: #4da4da;
  }

  .dropdown-toggle::after{
    position: relative;
    top: 3px;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.5em solid #4da4da;
  }
  /* .nav-item:before{
    content: '';
    height: 100px;
    width: 100px;
    background: red;
  } */

  .nav-item:before {
    /* display: block; */
    content: " ";
    float: right;
    width: 2px;
    height: 25px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-left-color: #4da4da;
    margin-top: 5px;
    margin-right: -10px;
}
.bi::before{
  font-weight: 700 !important;
}

.bg-nav-header {
  background-color: rgb(239 237 243) !important;
}
  .bg-body-tertiary {
   
    background-color: rgb(239 237 243) !important;
}
.nav-item{
  
  font-weight: 700;
}

.nav-item-2{
  
  font-weight: 700;
}


.menu_offcanvas {
  left: 0;
  width: 80% !important;
 
}


.btn-outline-secondary {
  border: none;
  background: transparent;
  font-size: 1.2rem;
}


.menu-container{
  padding-left: 50px;
        padding-right: 50px;
}


.position-relative2{
  background-color: rgb(239 237 243) ;
}
.img-top-partner{
  margin-top: 150px;
}
.img-top-partner{
  position: relative;
  right: 160px;
  top: 50px;
}
.img-top-partner img{
  width: 170px;
}
.text-partner{
  margin-top: 40px;
}
.space-product{
  margin-top: 100px;
}
.product-item{
  margin-top: 80px;
  background-color: rgb(239 237 243) ;
}
#info-product {
  margin-top: 20px;
  padding: 0;
  display: flex;
}

#info-product li:first-child{
  padding: 0;
  margin-left:  0;
  list-style: none;
}
#info-product li{
  margin:  auto;
  list-style: none;
}
#info-product li> img{
  height: 70px;
  width: 70px;
}
/*  product-item ( trang chủ) */

.product-all-img {
  display: grid;
    place-items: center; /* Căn giữa nội dung */
    row-gap: 10px; 
}

.product-all-img >img{
  display: block;
  width: 50%;
}

.product-all-img > button::after{

 
 
 
 

 

  position: absolute; /* Định vị mũi tên trong nút */
  right: 0.5em; /* Khoảng cách từ lề bên phải của nút */
  top: 50%; /* Đưa mũi tên giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa mũi tên */
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-left: 0.5em solid black; /* Mũi tên màu trắng bên phải */
}
.product-all-img > button{
  box-shadow: 2px 4px 1px #79b5d3;
      position: relative;
    padding-right: 0.6em;
font-weight: bold;
  font-size: 18px;
    margin-top: 21px;
    width: 250px;
    text-align: left;
    padding: 2px 18px 1px 15px;
    background: #D1DFEA;
  /* background-image: url('../image/button-bg.png'); */
  background-size: cover;      /* Hình nền phủ toàn bộ phần tử */
  background-position: center; /* Hình nền căn giữa */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  height: auto;                /* Chiều cao chiếm toàn bộ phần tử cha */
  border: 2px solid white;     /* Đường viền màu trắng */
  border-radius: 10px;         /* Bo góc cho phần tử */
}
.title-product-item{
  font-weight: bold;
  font-size: 36px;
}
.descript-product{
  margin-top: 25px;
  font-weight: 400;
  font-size: 20px;
  
}
.mt-6{
  margin-top: 100px;
}

.contact-fomr{
  margin-top: 100px;
}
.form-sp{
  margin-top: 40px;
}
.wage{
  margin-top: 40px;
}
.wage input{
  background: #D1DFEA;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #79b5d3;
}

.wage ul {
  display: flex;
  padding: 0;
  margin-bottom: 5px;
}
.wage ul li:first-child{
  margin: 0;
}
.wage ul li img{
  height: 50px;
  width: auto;
}
.wage ul li {
  margin: auto;
  margin-bottom: 0;
  list-style: none;
}
.wage ul li label{
  /* background: #facbcc; */
  font-weight: bold;
}

.sub-contact{
  margin-top: 20px;

  display: flex;
      justify-content: center;
     
}

.sub-contact ul {
  display: flex;
}

.sub-contact ul li img{
  height: 50px;
}
.sub-contact ul li {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
}
#sub-contact{
  width: 110px;
  text-align: left;
  background-repeat: no-repeat;
  height: 50px;
  color: #fff;
  background: #ff0000;
 

  box-shadow: 2px 4px 1px rgba(198, 48, 48, 255);
  border-radius: 10px;
  border: 2px solid #fff;
}
.icon-page ul {
  display: flex;
}
.icon-page{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.icon-page ul li{
  list-style: none;

  display: inline-block; /* Hiển thị li theo kiểu inline-block */
  margin: 0 10px;  
}
.all-product{
  margin-top: 120px;
}


.swiper-pagination{
  position: unset;
  margin-top: 20px;
}
.swiper-pagination-bullet{
  height: 15px;
  width: 15px;
}
/* footer */
footer{
  max-width: 810px;
  margin: auto;
}
.about-footer{
  font-size: 12px;
}

.icon-page-footer ul {
  padding: 0;
  display: flex;
  
}
.icon-page-footer{
  margin-top: 50px;
 
}
.icon-page-footer ul li:first-child{
  margin: 0;
}


.icon-page-footer ul li{
  list-style: none;

  display: inline-block; 
  margin: auto;  
}
.info-footer ul li {
 
  list-style: none;
}
.info-footer ul {
  padding: 0;
}
.text-address{
  font-size: 12px;
}
.ul-info-footer ul{
  display: flex;
}
.ul-info-footer ul li{
  margin: 5px;
}
.banner-footer{
  position: relative;
}
.text-footer{
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* slider */
.slider-scr{
  margin-top: 80px;
}
.slider-img{
  margin-top: 100px;
}


@media (max-width: 767px) {
  .position-relative > img{
   max-width: 100%;
   object-fit: cover;
   width: max-content;
   height: 500px;
  }

  .menu-container{
   padding-left: 10px;
         padding-right: 10px;
 }
}