.navbar-collapse{
    justify-content: right;
    margin-right: 40px;
  
  }
  .navbar-nav{
    gap: 20px;
  }
  /* .nav-item:before{
    content: '';
    height: 100px;
    width: 100px;
    background: red;
  } */

  .nav-item:before {
    /* display: block; */
    content: " ";
    float: right;
    width: 2px;
    height: 25px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-left-color: #4da4da;
    margin-top: 5px;
    margin-right: -10px;
}
.bi::before{
  font-weight: 700 !important;
}

  .bg-body-tertiary {
   
    background-color: rgb(239 237 243) !important;
}
.nav-item{
  
  font-weight: 700;
}

.nav-item-2{
  
  font-weight: 700;
}
@media (max-width: 673px) {
   .position-relative > img{
    max-width: 100%;
    object-fit: cover;
    width: max-content;
    height: 500px;
   }
}
